{% extends "base.html" %}

{% block title %}news-suck - Dashboard{% endblock %}

{% block content %}

<div class="row mb-4">
    <div class="col">
        <h1>Latest</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if news_items %}
            {% for item in news_items %}
            <div class="row">
                <div style="font-size: 1.4em;"><a href="/news/{{ item.id }}">{{ item.title }}</a></div>
                <div style="font-size: 0.7em;">{{ item.first_seen_at.strftime('%Y-%m-%d %H:%M') }} - {{ item.source_url }}</div>
                <div>&nbsp;</div>
            </div>
            {% endfor %}
        <div class="text-end">
            <a href="/news" class="btn btn-primary">View All News</a>
        </div>
        {% else %}
        <p class="text-muted">No news items available yet. Add some URLs to crawl.</p>
        {% endif %}
    </div>
</div>



<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-info  text-white">
                <h5 class="card-title mb-0">Statistics</h5>
            </div>
            <div class="card-body">
                <p><strong>Total News Items:</strong> {{ total_news }} // <strong>Monitored URLs:</strong> {{ urls|length }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}